body {
  display: block !important;
}

.App {
  text-align: center;
  padding: 0 3vw 3vw;
  background-color: whitesmoke;
  color: rgb(61, 60, 60);
}

.sticky {
  text-align: center;
  position: sticky;
  top: 0px;
  margin: 0px;
  background-color: #1b1c1d;
  color: white;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  z-index: 999;
}

.sticky>h1 {
  margin: 0px;
}

.About {
  width: 85vw;
  margin-left: 7vw;
}

.About>h1 {
  margin: 0px;
}

.AboutQuote {
  padding: 0px;
  border: 3px solid gray;
  border-radius: 15px;
}