.peopleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personCard {
    width: 250px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.personCard:hover {
    transform: translateY(-5px);
}

.personImage {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.cardContent {
    padding: 15px;
}

.modal {
    margin-top: 0px !important;
    position: fixed !important;
    top: 10% !important;
    transform: translateY(-10%) !important;
}